.def {
    appearance: base-select;
    width: 2.5rem;
    background: transparent;
    border-width: 1px;
    border-radius: 2rem;
    border-color: #d4d4d8;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: 500;
    font-size: small;
    color: black;
}

.def::picker(select) {
    width: 2.5rem;
    appearance: base-select;
    border: 1px solid #d4d4d8;
    background: #fff;
    justify-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-width: 0;
}

.def option {
    width: 100%;
    justify-content: center;
    color: black;
}

.def option:disabled {
    color: gray;
}

.def option:last-of-type {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.def option::checkmark {
    display: none;
}

.def::picker-icon {
    content: '>';
    rotate: 90deg;
    color: gray;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .def::picker-icon {
        display: none;
    }

    .def {
        justify-content: center;
    }
}

.def:open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}